<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header class="header">
        <h3>Header</h3>
    </header>
    <nav class="nav">
        <h3>Nav Bar</h3>
    </nav>
    <section class="content">
        <aside class="menu">
            <h3>Menu</h3>
        </aside>
        <main class="container">
            <h3>Container</h3>
        </main>
    </section>
    <footer class="footer">
        <h3>Footer</h3>
    </footer>
</body>
</html>
