.book-store {
  display: flex;
  flex-direction: column;
}

.book-store h1 {
    align-self: center;
}

.add {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add input {
    width: 300px;
    align-self: center;
    margin-bottom: 10px;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

.add button,
.book-entry button {
    width: 100px;
    align-self: center;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.add h2 {
    align-self: center;
}

.books {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px 1px, 2px 2px 1px 1px, 3px 3px 1px 1px, 4px 4px 2px 2px, 5px 5px 2px 2px;
}

.book-entry {
    display: flex;
    justify-content: space-between;
    
}

.book-entry p {
    margin-left: 10px;
}

.book-entry button {
    width: 100px;
    align-self: center;
    margin-right: 10px;
}

.add button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}
